@charset "utf-8";
// @import (css) '~ant-design-vue/dist/antd.css';
// @import '~ant-design-vue/dist/antd.less';
// @import '~ant-design-vue/dist/antd.dark.less';
@import (css) '~nprogress/nprogress.css';

@import './public.less';

#app {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  // background-color: #ededed;
  background-color: @primary-bg;
  box-sizing: border-box;
  padding: 50px 0;
}

::-webkit-scrollbar {
  // background: #f30;
  // width: 10px;
  // height: 10px;
  // border:1px #000 solid;
  border-radius: 10px;
}
